/* Functions
   ========================================================================== */
// textPerfect
// Calculate the line-height based at the font-size, the default to a better reading is 1.5 * font-size
textPerfect(fontSize)
	font-size em(fontSize)
	line-height fontSize*1.5