$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

// Cores
$azul-escuro: #102938;
$verde-claro: #39bb9d;

$cor-borda: #e0e0e0;

$cor-font-cinza: #999;

$c-link-cinza: #666;

$cinza-bg: #f9f9f9;
$cinza-bg-escuro: #565351;

// Menu Principal
#menuPrincipal{
  height: 80px;
  background: $azul-escuro;
  color: #fff;
  margin-bottom: 0;

  .btn-iProcesso{
    height: 78px;
    width: 200px;
    border: none;
    background: $verde-claro;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 50px;
  }

  .navbar-collapse{
    background: $azul-escuro;
  }

  .navbar-toggle{
    background: none;
    margin-top: 21px;
    margin-bottom: 21px;
  }

  .navbar-brand{
    padding: 0 15px !important;
    img{
      width: 70px;
      margin-top: 5px;
    }
  }

  .navbar-nav{
    font-weight: bold;
    li{
      a{
        line-height: 78px;
        padding: 0 20px;
        color: #fff;
        cursor: pointer;
        letter-spacing: 0.5px;
      }

      &.open a,
      &.active a,
      & a:hover,
      & a:focus{
        background: none;
        color: $verde-claro;
      }
      .fa{
        font-size: 20px;
        color: #3b4f5c;
        font-weight: bold;
      }
      .dropdown-menu{
        margin-top: 10px;
        a{
          line-height: initial;
          padding: 10px 20px;
          color: #434343;
        }
      }
    }

    .dropdown-toggle{
      padding: 0;
      .avatar{
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      .fa-caret-down{
        margin-left: 15px;
      }
    }
  }
}

/**
 * subNavTop
*/
#subNavTop{
  height: 50px;
  border-bottom: 1px solid $cor-borda;
	position: relative;
  background: #fff;

  &:after {
  	bottom: 100%;
  	left: 50px;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  	border-color: rgba(0,0,0,0);
  	border-bottom-color: #fff;
  	border-width: 10px;
  	margin-left: -10px;
  }

  nav{
    ul{
      margin: 0;
      padding: 0;
      li{
        list-style: none;
        display: inline-block;
        a{
          color: $c-link-cinza;
          display: inline-block;
          line-height: 50px;
          padding: 0 40px;
          &:hover{

          }
        }
      }
    }
  }
}

/**
 * contentPrincipal
*/
#contentPrincipal{
  background: $cinza-bg;
}

/**
 * Footer
*/
#footer{
  background: $cinza-bg-escuro;
  color: $cor-font-cinza;
}
