<div class="container form-center">
    <form class="form-wizard form-address">
        <h3>Endereço de entrega</h3>
        
        <div class="row">
            <div class="col col-md-3">
                <div class="form-group">
                    <label for="cep" class="control-label">CEP</label>
                    <div class="loading-field">
                        <input type="text" name="cep" class="form-control" id="cep" placeholder="CEP" data-field="cep">
                        <img class="image-loading animated" src="/assets/images/loading.svg" alt=""/>
                    </div>

                    <div class="validator-errors">
                        <span class="help-block" data-error="required">O campo CEP é obrigatório</span>
                    </div>
                </div>
            </div>

            <div class="col col-md-9">
                <div class="form-group">
                    <label for="rua" class="control-label">Rua</label>
                    <input type="text" name="rua" class="form-control" id="rua" placeholder="Rua" data-field="rua">

                    <div class="validator-errors">
                        <span class="help-block" data-error="required">O campo rua é obrigatório</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="numero_soliciante" class="control-label">Numero</label>
                    <input type="number" name="numero" class="form-control" id="numero_soliciante" placeholder="Número"step="1" value="0" min="0" data-field="numero">

                    <div class="validator-errors">
                        <span class="help-block" data-error="required">O campo número é obrigatório</span>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="complemento" class="control-label">Complemento</label>
                    <input type="text" name="complemento" class="form-control" id="complemento" placeholder="Complemento" data-field="complemento">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="estado" class="control-label">Estado</label>
                    <select name="estado" class="form-control" id="estado" data-field="estado">
                        <option disabled="disabled" value="-1" selected="selected">Selecione um estado</option>
                        <option value="SP">SP</option>
                        <option value="RJ">RJ</option>
                        <option value="RO">RO</option>
                    </select>

                    <div class="validator-errors">
                        <span class="help-block" data-error="required">O campo estado é obrigatório</span>
                    </div>
                </div>
            </div>

            <div class="col col-md-6">
                <div class="form-group">
                    <label for="cidade" class="control-label">Cidade</label>
                    <input type="text" name="cidade" class="form-control" id="cidade" placeholder="Cidade" data-field="cidade">

                    <div class="validator-errors">
                        <span class="help-block" data-error="required">O campo cidade é obrigatório</span>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-success pull-right btn-submit" disabled>Seguro <span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
    </form>
</div>