<div class="container form-center">
    <form class="form-wizard form-insurance">
        <h3>Seguro</h3>
        
        <h4 class="sub">É necessário um seguro extra para o transporte dos insumos?</h4>

        <div class="row">
            <div class="col col-md-6">
                <div class="radio">
                    <label class="right">
                        <input type="radio" name="insurance" class="insurance" value="s">
                        Sim
                    </label>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="radio">
                    <label>
                        <input type="radio" name="insurance" class="insurance" value="n">
                        Não
                    </label>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-success pull-right btn-submit" disabled> Resumo<span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
    </form>
</div>