<div class="container form-center">
    <form class="form-wizard form-resumo">
        
        <div class="info" data-info="pedido">
            <h3>Pedido</h3>

            <div class="form-group">
                <label for="numero" class="control-label">Número</label>
                <span data-field="numero"></span>
            </div>

            <div class="form-group">
                <label class="control-label" for="data_de_compra">Data de compra</label>
                <span data-field="data_de_compra"></span>
            </div>

            <h3 class="margin">Endereço de entrega</h3>

            <div class="row">
                <div class="col col-md-3">
                    <div class="form-group">
                        <label for="cep" class="control-label">CEP</label>
                        <span data-field="cep"></span>
                    </div>
                </div>

                <div class="col col-md-9">
                    <div class="form-group">
                        <label for="rua" class="control-label">Rua</label>
                        <span data-field="rua"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-6">
                    <div class="form-group">
                        <label for="numero_soliciante" class="control-label">Numero</label>
                        <span data-field="numero"></span>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="form-group">
                        <label for="complemento" class="control-label">Complemento</label>
                        <span data-field="complemento"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-6">
                    <div class="form-group">
                        <label for="estado" class="control-label">Estado</label>
                        <span data-field="estado"></span>
                    </div>
                </div>

                <div class="col col-md-6">
                    <div class="form-group">
                        <label for="cidade" class="control-label">Cidade</label>
                        <span data-field="cidade"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="info" data-info="solicitante">
            <h3>Dados pessoais do solicitante</h3>

            <div class="form-group">
                <label for="cpf" class="control-label">CPF</label>
                <span data-field="cpf"></span>
            </div>

            <div class="form-group">
                <label for="nome" class="control-label">Nome</label>
                <span data-field="nome"></span>
            </div>

            <div class="form-group">
                <label for="telefone" class="control-label">Telefone</label>
                <span data-field="telefone"></span>
            </div>

            <h3 class="margin">Endereço do solicitante</h3>

            <div class="row">
                <div class="col col-md-3">
                    <div class="form-group">
                        <label for="cep" class="control-label">CEP</label>
                        <span data-field="cep"></span>
                    </div>
                </div>

                <div class="col col-md-9">
                    <div class="form-group">
                        <label for="rua" class="control-label">Rua</label>
                        <span data-field="rua"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-6">
                    <div class="form-group">
                        <label for="numero_soliciante" class="control-label">Numero</label>
                        <span data-field="numero"></span>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="form-group">
                        <label for="complemento" class="control-label">Complemento</label>
                        <span data-field="complemento"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-6">
                    <div class="form-group">
                        <label for="estado" class="control-label">Estado</label>
                        <span data-field="estado"></span>
                    </div>
                </div>

                <div class="col col-md-6">
                    <div class="form-group">
                        <label for="cidade" class="control-label">Cidade</label>
                        <span data-field="cidade"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="info" data-info="materiais">
            <h3>Materiais</h3>

            <ul class="list-group list-material">

                

            </ul>
        </div>

        <div class="info" data-info="">
            <h3>Insumos</h3>

            <ul class="list-group list-insumos">

            </ul>
        </div>

        <div class="info" data-info="seguro">
            <h3>Seguro</h3>

            <span class="insurance"></span>
        </div>

        <button type="button" class="btn btn-success pull-right btn-submit" > Finalizar<span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
    </form>
</div>