<div class="container form-center">
    <form action="" method="post" class="form-wizard form-solicitante">
        <h3>Dados pessoais</h3>

        <input type="hidden" name="id", data-field="id">

        <div class="form-group">
            <label for="cpf" class="control-label">CPF</label>

            <div class="loading-field">
                <input type="text" name="cpf" class="form-control" id="cpf" placeholder="CPF" data-field="cpf">
                <img class="image-loading animated" src="/assets/images/loading.svg" alt=""/>
            </div>

            <div class="validator-errors">
                <span class="help-block" data-error="required">O campo CPF é obrigatório</span>
            </div>
        </div>

        <div class="form-group">
            <label for="nome" class="control-label">Nome</label>
            <input type="text" disabled name="nome" class="form-control" id="nome" placeholder="Nome" data-field="nome">

            <div class="validator-errors">
                <span class="help-block" data-error="required">O campo nome é obrigatório</span>
            </div>
        </div>

        <div class="form-group">
            <label for="telefone" class="control-label">Telefone</label>
            <input type="text" disabled name="telefone" class="form-control" id="telefone" placeholder="Telefone" data-field="telefone">

            <div class="validator-errors">
                <span class="help-block" data-error="required">O campo telefone é obrigatório</span>
            </div>
        </div>

        <h3 class="margin">Endereço</h3>

        <div class="row">
            <div class="col col-md-3">
                <div class="form-group">
                    <label for="cep" class="control-label">CEP</label>
                    <div class="loading-field">
                        <input disabled type="text" name="cep" class="form-control" id="cep" placeholder="CEP" data-field="cep">
                        <img class="image-loading animated" src="/assets/images/loading.svg" alt=""/>
                    </div>

                    <div class="validator-errors">
                        <span class="help-block" data-error="required">O campo CEP é obrigatório</span>
                    </div>
                </div>
            </div>

            <div class="col col-md-9">
                <div class="form-group">
                    <label for="rua" class="control-label">Rua</label>
                    <input type="text" name="rua" class="form-control" id="rua" placeholder="Rua" disabled="disabled" data-field="rua">

                    <div class="validator-errors">
                        <span class="help-block" data-error="required">O campo rua é obrigatório</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="numero_soliciante" class="control-label">Numero</label>
                    <input type="number" name="numero" class="form-control" id="numero_soliciante" placeholder="Número" disabled="disabled" step="1" value="0" min="0" data-field="numero">

                    <div class="validator-errors">
                        <span class="help-block" data-error="required">O campo número é obrigatório</span>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="complemento" class="control-label">Complemento</label>
                    <input type="text" name="complemento" class="form-control" id="complemento" placeholder="Complemento" disabled="disabled" data-field="complemento">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-6">
                <div class="form-group">
                    <label for="estado" class="control-label">Estado</label>
                    <select disabled="disabled" name="estado" class="form-control" id="estado" data-field="estado">
                        <option disabled="disabled" value="-1" selected="selected">Selecione um estado</option>
                        <option value="SP">SP</option>
                        <option value="RJ">RJ</option>
                        <option value="RO">RO</option>
                    </select>

                    <div class="validator-errors">
                        <span class="help-block" data-error="required">O campo estado é obrigatório</span>
                    </div>
                </div>
            </div>

            <div class="col col-md-6">
                <div class="form-group">
                    <label for="cidade" class="control-label">Cidade</label>
                    <input type="text" name="cidade" class="form-control" id="cidade" placeholder="Cidade" disabled="disabled" data-field="cidade">

                    <div class="validator-errors">
                        <span class="help-block" data-error="required">O campo cidade é obrigatório</span>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-success pull-right btn-submit" disabled>Materiais <span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
    </form>
</div>
