<section class="paginator forms">

    <div data-page="formPedido" class="page hide-page page-one" data-title="Dados do pedido">

        <div class="loading">
            <img src="/assets/images/loading.svg" alt="">
        </div>

        <div class="content">
            
        </div>
    </div>

    <div data-page="formSolicitante" class="page hide-page page-one" data-title="Dados do solicitante">

        <div class="loading">
            <img src="/assets/images/loading.svg" alt="">
        </div>

        <div class="content">
            
        </div>
    </div>

    <div data-page="formMaterial" class="page hide-page page-one" data-title="Materiais do pedido">

        <div class="loading">
            <img src="/assets/images/loading.svg" alt="">
        </div>

        <div class="content">
            
        </div>
    </div>

    <div data-page="formInsumo" class="page hide-page page-one" data-title="Insumos do pedido">

        <div class="loading">
            <img src="/assets/images/loading.svg" alt="">
        </div>

        <div class="content">
            
        </div>
    </div>

    <div data-page="formAddress" class="page hide-page page-one" data-title="Endereço de entrega">

        <div class="loading">
            <img src="/assets/images/loading.svg" alt="">
        </div>

        <div class="content">
            
        </div>
    </div>

    <div data-page="formInsurance" class="page hide-page page-one" data-title="Seguro extra">

        <div class="loading">
            <img src="/assets/images/loading.svg" alt="">
        </div>

        <div class="content">
            
        </div>
    </div>

    <div data-page="formResumo" class="page hide-page page-one" data-title="Resumo">

        <div class="loading">
            <img src="/assets/images/loading.svg" alt="">
        </div>

        <div class="content">
            
        </div>
    </div>

    <div data-page="formFinish" class="page hide-page page-one" data-title="Finalizando">

        <div class="loading">
            <img src="/assets/images/loading.svg" alt="">
        </div>

        <div class="content">
            
        </div>
    </div>
</section>