<section class="paginator forms">

    <div data-page="formPedido" class="page hide-page page-one" data-title="Dados do pedido">

        <div class="loading">
            <img src="/assets/images/loading.svg" alt="">
        </div>

        <div class="content">
            
        </div>
    </div>

    <div data-page="formSolicitante" class="page hide-page page-one" data-title="Dados do solicitante">

        <div class="loading">
            <img src="/assets/images/loading.svg" alt="">
        </div>

        <div class="content">
            
        </div>
    </div>
</section>