#admin .subnav.admin {
    margin: 1rem;
    cursor: pointer;
    color: rgba(0,0,0, 0.6);
}

#admin  > .subnav {
    width: 100vw;
    background-color: white;
}

.admin_tab {
    margin-top: 10rem;
    margin-bottom: 10rem;
    background-color: white;
    padding: 5rem;
    border-radius: 2rem;
}

ul {
    list-style-type: none;
}

button.toggle {
    margin: 0.5rem 0;
}