<div id="dashboard" class="mysql">
    <div ng-if="hasShipping()" id="shippingSubPanel">
        <ul class="subnav nav navbar-nav navbar-left container-fluid">
            <li id="order_{{order.id}}" class="subnav order nav-item" ng-repeat="order in shippingForUser" ng-click="activate(order.id)">
                {{order.solicitante.nome}}-{{order.data_de_compra}}
            </li>
        </ul>
    </div>
    <div ng-if="hasShipping()" id="shippingInspection">
        <div id="order_detail_{{order.id}}" class="order_detail col-md-offset-3 col-md-6" ng-repeat="order in shippingForUser">
            <h3>{{order.data_de_compra}}</h3>

            <section class="solicitante">
                <h4>Solicitante</h4>
                <ul id="orderer_{{order.id}}" class="orderer">
                    <li><span class="solicitante">{{order.solicitante.nome}}</span> - {{order.solicitante.cpf}}</li>
                    <li>{{order.solicitante.telefone}}</li>
                    <li><h5>Endereço</h5></li>
                    <li>{{order.solicitante.rua}} {{order.solicitante.numero}}</li>
                    <li>{{order.solicitante.bairro}}, {{order.solicitante.cidade}}-{{order.solicitante.estado}}</li>
                    <li>{{order.solicitante.cep}}</li>
                    <li>{{order.solicitante.pais}}</li>
                </ul>
            </section>

            <br />

            <section class="destino">
                <h4>Destino de entrega</h4>
                <ul id="destination_{{order.id}}" class="destination">
                    <li>{{order.rua}} {{order.numero}}</li>
                    <li>{{order.bairro}}, {{order.cidade}}-{{order.estado}}</li>
                    <li>{{order.cep}}</li>
                    <li>{{order.pais}}</li>
                </ul>
            </section>

            <br />

            <section class="itens">
                <h3>Itens</h3>
                <ul id="insumo_{{insumo.id}}"  class="insumos" ng-repeat="insumo in order.insumos">
                    <li>
                        <span class="quantidade">{{insumo.quantidade}}</span>
                        <span class="descricao">{{insumo.descricao}}</span>&#32;-&#32;
                        <span class="preco">{{insumo.preco}}</span>
                    </li>
                    <li class="material_de_insumo"><h5 class="materiais_label">Material</h5><span class="materiais">{{insumo.material.nome}}</span></li>
                </ul>
                <ul id="material_{{material.id}}" class="materiais" ng-repeat="material in order.materiais">
                    <li>
                        <span class="quantidade">{{material.quantidade}}</span>&#32;
                        <span class="título">{{material.marca}} {{material.nome}}</span>&#32;-&#32;
                        <span class="preco">{{material.preco}}</span>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>