// Cores Gerais
$verde-claro: #39bb9d;

// Bordas
$borda-cinza: #e0e0e0;
$borda-cinza-escuro: #d4d4d4;

// Fonts
$font-cinza: #999;
$font-cinza-escuro: #666;

// Background
$bg-cinza: #f9f9f9;
$bg-cinza-escuro: #565351;
$bg-azul-escuro: #102938;


// GRID
$break-point: 1130px;
