<div class="content content-fluid">
    <form name="task" method="POST" id="task">
        <div class="container">

            <!-- Dados do pedido -->
            <div class="module container-fluid">
                <h5 class="module-title">Dados do pedido <span class="pedido-numero"></span></h5>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="field-content">
                            <label for="material" class="material">Material:</label>
                            <div class="content">
                                <select name="material" id="material" class="item-task form-control" required>
                                    <option disabled selected value>Selecione...</option>
                                    <option value="Impressora 3D">Impressora 3D</option>
                                    <option value="Impressora 3D">Câmera Fotografica</option>
                                    <option value="Impressora 3D">Projetor Multimedia</option>
                                    <option value="Impressora 3D">Impressora de sublimação</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="field-content">
                            <label for="data_compra" class="data_compra">Data de compra:</label>
                            <div class="content">
                                <input type="text" placeholder="dd/mm/aaaa" name="data_compra" id="data_compra" class="form-control item-task" required/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="field-content">
                                    <label for="marca" class="marca">Marca:</label>
                                    <div class="content">
                                        <input type="text" name="marca" id="marca" class="form-control item-task" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="field-content">
                                    <label for="qtde_material" class="qtde_material">Quantidade do material:</label>
                                    <div class="content">
                                        <input type="number" min="1" onkeypress="return onlyNumber(event)" name="qtde_material" id="qtde_material" class="quantidade form-control item-task" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="field-content">
                                    <label for="valor_material" class="valor_material">Total (R$):</label>
                                    <div class="content">
                                        <input type="text" placeholder="0.00" name="valor_material" id="valor_material" data-calcula="#qtde_material" class="price form-control item-task" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Dados do pedido -->

            <!-- Dados do insumo -->
            <div class="module container-fluid">
                <h5 class="module-title">Dados dos insumos</h5>
                <div class="insumos">
                    <div class="row insumo-1">
                        <div class="col-md-12 col-sm-12"><label>Insumo <span class="insumo-number">1</span></label></div>
                        <div class="col-md-6 col-sm-6">
                            <div class="field-content">
                                <label for="desc_insumo_1"  class="desc_insumo">Descrição:</label>
                                <div class="content">
                                    <textarea name="desc_insumo" id="desc_insumo_1" rows="6" class="item-task form-control" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="field-content">
                                <label for="qtde_insumo_1"  class="qtde_insumo">Quantidade:</label>
                                <div class="content">
                                    <input type="number" min="1" onkeypress="return onlyNumber(event)" name="qtde_insumo" id="qtde_insumo_1" class="quantidade item-task form-control" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="field-content">
                                <label for="valor_insumo_1"  class="valor_insumo">Preço (R$):</label>
                                <div class="content">
                                    <input type="text" placeholder="0.00" name="valor_insumo" data-calcula="#qtde_insumo_1" id="valor_insumo_1" class="price item-task form-control" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row insumo-2">
                        <div class="col-md-12 col-sm-12">
                            <hr><label>Insumo <span class="insumo-number">2</span></label>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="field-content">
                                <label for="desc_insumo_2"  class="desc_insumo">Descrição:</label>
                                <div class="content">
                                    <textarea name="desc_insumo" rows="6" id="desc_insumo_2" class="item-task form-control" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="field-content">
                                <label for="qtde_insumo_2"  class="qtde_insumo">Quantidade:</label>
                                <div class="content">
                                    <input type="number" min="1" onkeypress="return onlyNumber(event)" name="qtde_insumo" id="qtde_insumo_2" class="quantidade item-task form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="field-content">
                                <label for="valor_insumo_2"  class="valor_insumo">Preço (R$):</label>
                                <div class="content">
                                    <input type="text" placeholder="0.00" data-calcula="#qtde_insumo_2" name="valor_insumo" id="valor_insumo_2" class="price item-task form-control" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="btn add-insumo btn-warning pull-right">Adicionar</a>
            </div>
            <!-- END Dados do insumo -->

            <!-- Dados do solicitante -->
            <div class="module container-fluid">
                <h5 class="module-title">Dados do solicitante</h5>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="field-content">
                            <label for="nome_solicitante"  class="nome_solicitante">Nome completo:</label>
                            <div class="content">
                                <input type="text" name="nome_solicitante" id="nome_solicitante" class="item-task form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="field-content">
                            <label for="cpf_solicitante"  class="cpf_solicitante">CPF:</label>
                            <div class="content">
                                <input type="text" maxlength="14" placeholder="000.000.000-00" name="cpf_solicitante" id="cpf_solicitante" class="item-task cpf form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="field-content">
                            <label for="tel_solicitante"  class="tel_solicitante">Telefone:</label>
                            <div class="content">
                                <input type="tel" placeholder="(00) 0000-0000" name="tel_solicitante" id="tel_solicitante" class="item-task phone form-control" required/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="field-content">
                            <label for="cep_solicitante"  class="cep_solicitante">CEP:</label>
                            <div class="content">
                                <input type="tel" maxlength="9" placeholder="00000-00" name="cep_solicitante" id="cep_solicitante" data-info="solicitante" class="item-task cep form-control" required/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="field-content">
                            <label for="end_solicitante"  class="end_solicitante">Endereço:</label>
                            <div class="content">
                                <input type="text" name="end_solicitante" id="end_solicitante" class="item-task form-control address" required/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="field-content">
                            <label for="comp_solicitante"  class="comp_solicitante">Complemento:</label>
                            <div class="content">
                                <input type="text" name="comp_solicitante" id="comp_solicitante" class="item-task form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="field-content">
                            <label for="cidade_solicitante"  class="cidade_solicitante">Cidade:</label>
                            <div class="content">
                                <input type="text" name="cidade_solicitante" id="cidade_solicitante" class="item-task country form-control" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="field-content">
                            <label for="estado_solicitante"  class="estado_solicitante">Estado:</label>
                            <div class="content">
                                <input name="estado_solicitante" id="estado_solicitante" class="item-task form-control" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Dados do solicitante -->

            <!-- Dados da entrega -->
            <div class="module container-fluid">
                <h5 class="module-title">Dados da entrega</h5>
                <div class="form-group endereco_igual">
                    <input type="checkbox" name="endereco_igual" id="endereco_igual" class=""> Mesmo endereço do solicitante
                </div>
                <div class="row group-entrega">
                    <div class="col-md-3">
                        <div class="field-content">
                            <label for="cep_entrega"  class="cep_entrega">CEP:</label>
                            <div class="content">
                                <input type="tel" maxlength="9" placeholder="00000-00" name="cep_entrega" id="cep_entrega" data-info="entrega" class="item-task cep form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="field-content">
                            <label for="end_entrega"  class="end_entrega">Endereço:</label>
                            <div class="content">
                                <input type="text" name="end_entrega" id="end_entrega" class="item-task form-control address" required/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="field-content">
                            <label for="comp_entrega"  class="comp_entrega">Complemento:</label>
                            <div class="content">
                                <input type="text" name="comp_entrega" id="comp_entrega" class="item-task form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="field-content">
                            <label for="cidade_entrega"  class="cidade_entrega">Cidade:</label>
                            <div class="content">
                                <input type="text" name="cidade_entrega" id="cidade_entrega" class="item-task country form-control" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="field-content">
                            <label for="estado_entrega"  class="estado_entrega">Estado:</label>
                            <div class="content">
                                <input name="estado_entrega" id="estado_entrega" class="item-task form-control" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Dados da entrega -->

            <div class="valor-total-pedido col-md-12 module container-fluid">
                <div class="pull-right">
                    <h5 class="module-title">Valor total do pedido</h5>
                    <div class="pull-right">
                        <label class="moeda">R$</label> <span class="total-dinheiro"> 0.00</span>
                    </div>
                </div>
            </div>

            <div class="box-buttons pull-right">
                <button type="submit" class="btn btn-submit disabled valid-submit"><span class="demo-btn-ico fa fa-check"></span> Enviar</button type="submit">
                <button type="reset" class="btn btn-default"><span class="demo-btn-ico fa fa-times-circle"></span> Cancelar</button>
                <a href="#dashboard" class="btn btn-default hidden"><span class="demo-btn-ico fa fa-tachometer"></span> Ir ao dashboard</a>
            </div>

        </div>
    </form>
</div>

<script type="text/javascript">
    function onlyNumber(e) {
        tecla = (document.all) ? e.keyCode : e.which;
        if (tecla==8) return true;
        patron =/[0-9]/;
        te = String.fromCharCode(tecla);
        return patron.test(te);
    }
</script>