@CHARSET "UTF-8";







$corFundo      : #102938;
$corLuzes    : #102938;
$corPadrao     : #ffffff;
$colHover       : #39bb9d;




.navbar-default {
    background-color: $corFundo;
    border-color: $corLuzes;
    .navbar-brand {
        color: $corPadrao;
        &:hover, &:focus {
            color: $colHover; }}
    .navbar-nav {
        > li {
            > a {
                color: $corPadrao;
                &:hover, &:focus {
                    color: $colHover;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $corLuzes; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $corLuzes;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $corPadrao;
                    border-bottom-color: $corPadrao; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover; }}}}}
    .navbar-toggle {
        border-color: $corLuzes;
        &:hover, &:focus {
            background-color: $corLuzes; }
        .icon-bar {
            background-color: $corPadrao; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $corPadrao;
        &:hover, &:focus {
            color: $colHover;
            background-color: $corLuzes; }}
}

/* Do not take in account */
html{padding-top:30px}a.solink{position:fixed;top:0;width:100%;text-align:center;background:#f3f5f6;color:#cfd6d9;border:1px solid #cfd6d9;line-height:30px;text-decoration:none;transition:all .3s;z-index:999}a.solink::first-letter{text-transform:capitalize}a.solink:hover{color:#428bca}

.start{
  background-color: #39bb9d;

  padding: 32px;
  margin-left: 20px;
  text-decoration: none;
  color:white;
&:hover{
text-decoration: none;
color:colHover;
}
a{
  padding-top: 20px;
}
}
.navProcesso{
  float: left;

}

.navs{
  li{
    list-style: none;
    a{
      color:white;
      text-decoration: none;

    }
  } h4:hover{
    color: #39bb9d;

  }li{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  }
}

body{

background-color: #ffffff;



}
#logo{
  margin-left:5px;


}
.navbar-cor{
  background-color: #102938;
}

.laterialDir{
float:right;
  li{
    list-style: none;

  }
}

i.iconesDireito{
  font-size: 1.5em;
  color: #4a5c68;
  &:hover{
    color: $colHover;
  }
}
.principal{
  margin-top: 50px;
}
.img-circle{
  width: 35px;
}

.footerFormat{
  background-color: #565351;
  padding: 5px;
  h5{
    color: #999999;
  }
}
.menuFont{
  font-size: 1.3em;
  margin-top: 8px;
}
