* {
	margin: 0; 
	padding: 0; 
	outline: none;
    vertical-align: baseline; 
}

/* VARIÃVAEIS */
$pathIMG: '../img';

$green: #39bb9d;
$green-dark: #29AA8C;
$blue-dark: #102938;
$silver-dark: #565351;

@mixin width-full {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $silver-dark;
	font-family: 'Helvetica Neue Bold';
}

a {
	transition: all 0.5s ease;
}

ul {
	list-style: none;
}

.btn-new {
	border-radius: 20px;
	font-size: 14pt;
	border: 2px solid #ccc;
}

.btn-link {
	color: $silver-dark;

	&:hover,
	&:focus,
	&:active {
		color: $green;
		text-decoration: none;
	}
}

body {
	background: url(#{$pathIMG}/bg.jpg) repeat; 
}

.icon {
	display: block;
	overflow: hidden;
	background-image: url(#{$pathIMG}/sprite.png);
}

strong.cod {
	font-weight: 800;
	color: $green
}

.app-navbar {
	@include width-full;

	position: fixed;
	top: 0;
	z-index: 12;

	.nv {

		background-color: #102938;
		padding: 0 15px;

		.brand {
			float: left;
			margin-right: 60px;
			padding: 24px 0;
		}

		.menu {
			float: left;

			ul {
				margin-top: 28px;
			}

			a {
				color: #fff;

				&:hover,
				&:focus,
				&:active {
					background-color: transparent;
					color: $green;
				}
			}
		}

		li {
			float: left;
		}

		.active a {
			background-color: transparent;
			color: $green;
		}

		a {
			text-transform: uppercase;

			font: {
				size: 10pt;
				weight: 800;
			}
		}

		.pr {
			float: left;
			margin-left: 200px;

		
			a {
				display: block;
				padding: 37px 25px;
				background-color: $green;
				color: #fff;

				span {
					margin-right: 7px
				}

				&:hover,
				&:focus,
				&:active {
					background-color: $green-dark;
					text-decoration: none;
				}
			}
		}

		.op {

			width: 40%;
			position: absolute;
			right: 20px;

			ul {
				width: 100%;
				float: right;
			}

			li {
				float: right;
				margin: 35px 15px;
			}

			.dropdown {
				margin-top: 25px;
				margin-right: 0;

				.down {
					width: 63px;
					display: table;
				}

				.down img {
					float: left;
					margin-right: 5px;
				}

				.down span {
					float: left;
					font-size: 10pt;
					color: #4a5c68;
					margin-top: 16px;
				}

				.dropdown-menu {
					right: -15px;
					left: auto;
					padding-top: 23px;

					background-color: transparent;
					box-shadow: none;
					border-radius: 0;
					border: 0;

					visibility: hidden;
					display: block;

					transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
					transform: translateY(-2em);
					
					opacity: 0;

					&:before {
						width: 0;
						height: 0;
						content: "";
						position: absolute;
						top: 4px;
						right: 20px;
						border: 10px solid transparent;
						border-bottom: 10px solid $green;
					}

					li {
						width: 250px;
						padding: 3px 0;
						margin: 0;
						background-color: $green;
						text-align: right;
						border: 1px solid #fff;

						a {
							color: $blue-dark;

							.glyphicon {
								font-size: 12pt;
								position: relative;
								top: 2px;
							}

							&:hover {
								background-color: transparent;
								color: #fff;
							}
						}
					}
				}

				&:hover .dropdown-menu {
					display: block;
					visibility: visible; 
					opacity: 1;
					z-index: 1;
					transform: translateY(0%);
					transition-delay: 0s, 0s, 0.3s;
				}
			}

			.sch {
				width: 65%;
				position: absolute;
				right: 133px;
			}

			.icon {
				width: 28px;
				height: 26px;
			}

			.icon-sch {
				background-position: -4px -4px;
				&:hover {
					background-position: -4px -38px;
				}
			}

			.icon-dfy {
				background-position: -44px -3px;
				&:hover {
					background-position: -44px -37px;
				}
			}

			.gravatar {border-radius: 50%;}

			form {
				width: 100%;
				float: left;
				margin-top: -5px;
			}

			input {
				width: 0%;
				position: absolute;
				right: 55px;
				border-radius: 20px;
				opacity: 0;
				transition: width 0.8s ease-in, 0.6s linear;

				&:focus {
					box-shadow: none;
					border-color: #4A5C68;
				}
			}

			label {
				width: 35px;
				float: right;
				cursor: pointer;
				margin: 4px 0 0 0;

			}

		}

	}
	
}

.animated {
	animation-delay: 0.5s;  
}

.anim {
	animation-delay: 1.3s; 
}

body.open-search input#s {
	opacity: 1;
	width:  70%;
}

body.open-search .app-navbar .nv .op .icon-sch {
	background-position: -4px -38px;
}

#wrap {
	margin-top: 190px;
}

.menu-navbar {
	width: 100%;
	height: 79px;
	position: fixed;
	z-index: 10;
	top: 93px;
	background: #fff;
	border-bottom: 2px solid rgba(0, 0, 0, 0.10);

	ul {
		margin: 30px 15px 0 15px;
		position: relative;

		&:before {
			width: 18px;
			height: 12px;
			content: "";
			display: block;
			background-image: url(#{$pathIMG}/sprite.png);
			position: absolute;
		}

		.btn {
			position: relative;
			top: -12px;
			padding: 6px 20px;
		}
	}

	.act:before {
		background-position: -50px -104px;
		top: 45px;
		left: 100px;
	}

	.dash:before {
		background-position: -49px -121px;
		top: -40px;
		left: 12px;
	}

	li {

		float: left; 
		margin-right: 40px;

		font: {
			size: 10pt;
			weight: 600;
		}

		color: #102938;

		.icon-ac {
			width: 40px;
			height: 29px;
			float: left;
			margin-right: 10px;
			position: relative;
			top: -5px;
			background-position: -2px -104px;
		}

		a {
			color: #102938;

			&:hover {
				text-decoration: none;
				color: $green;
			}
		}

	}
}

#wrap form {
	margin: 30px 0;
}

#wrap .seach-order {
	width: 40%;

	@media screen and (max-width: 1152px) {
		width: 65%;
	}

	display: table;
	margin: 30px auto;

	#id {
		width: 99%;
		height: 45px;
		float: left;
		border-radius: 20px;
		font-size: 18pt;
		color: $green;
		border-width: 2px;
		transition: all 0.5s ease;

		&:focus {
			box-shadow: none;
			background-color: #fdfdfd;
			border-color: #ccc;
		}
	}

	.btn {
		width: 100%;
		height: 45px;
		line-height: 28px;
		margin: auto;
		font-size: 18pt;
		font-weight: 600;
		border-radius: 20px;
	}

}

.nav-tabs > li > a {
	color: $green;
	font-size: 16pt;
	border-radius: 15px 15px 0 0;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover {
	background-color: #F9F9F9;
}

.tab-content {
	margin-top: 30px;
}

fieldset {
	margin: 0 15px;
}

fieldset legend {
	padding: 0 15px;
	margin-bottom: 30px;
	border-bottom-color: $green;
}

fieldset .btn {
	font-weight: 800;	
}

fieldset .btn-green {
	background-color: $green;
	color: #fff;

	&:hover,
	&:focus {
		background-color: $green-dark;
		color: #fff;
	}
}

fieldset label {
	text-indent: 10px;
	font-weight: 400;
}

.form-group {
	width: 100%;
	float: left;
	margin-bottom: 0;
}

.form-group.clone .btn {
	margin-top: 25px;
}

.form-group.clone:first-child  .btn-remove {
	display: none;
}

.form-group .col-xs-12 {
	margin-bottom: 20px;
}

.form-group .c {
	margin-top: 25px;
}

textarea.form-control {
	resize: none;
}

#wrap_footer {
	width: 100%;
	height: 40px;
	float: left;
	position: relative;
	z-index: 10;
	background-color: #565351;

	.copyright {
		float: left;

		p {
			margin: 15px 0 0;
			color: #999;
			font: {
				family: 'Trebuchet MS';
				size: 8pt;
			}
		}
	}

	.help {

		float: right;

		a {
			float: left;
			margin: 10px 0 0;
		}
		
		.icon {
			width: 19px;
			height: 19px;
			text-indent: -3333px;
			background-position: -4px -75px;
		}
	}

	
}

@media screen and (max-width: 1152px) {
	
	.app-navbar .nv .pr {margin-left: 50px;}

	body.open-search .app-navbar .nv .pr {
		display: none;
	}
}