/*ESTILO DO BOX*/
#info-ie-inferior, .titulo-ie-inferior, .texto-ie-inferior{
	display:block;
	width: 640px;
	margin:0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#666666;
}
.titulo-ie-inferior{
	font-size:20px;
	color: #FF0000;
	margin:10px 0;
}
.texto-ie-inferior{
	margin:5px 0;
}

/*CONTAINERS QUE NAO PODEM APARECER*/
#background-header, #container-pesquisar,
#container-menu-mobile, .content, #background-footer{
	display: none;
}