$default-font: 'Helvetica Neue Bold', sans-serif;
$default-font-color: #000;
$default-font-size: 12pt;
$default-bgcolor: #f9f9f9;

$header-font: 'Helvetica Neue Bold', sans-serif;

$primary-bgcolor: #102938;
$primary-font-color: #fff;
$primary-font-color-hover: #39bb9d;
$primary-font-color-active: #39bb9d;

$secondary-bgcolor: #39bb9d;
$secondary-bgcolor-active: #33a88d;
$secondary-font-color: #fff;
$secondary-font-color-hover: #fff;
$secondary-font-color-active: #fff;

$default-shadow: 0 2px 0 0 rgba(5,45,73,0.06999999999999995);
$btn-shadow: 0 2px 0 0 rgba(5,45,73,.15);