<div id="insumos" class="admin_tab col-md-6 col-md-offset-3" ng-if="insumos.length > 0">
    <h2>Insumos</h2>
    <ul class="list_insumos">
        <li id="insumo_{{insumo.id}}" class="insumos" ng-repeat="insumo in insumos">
            <button id="toggle_insumo_{{insumo.id}}" class="btn btn-default toggle" ng-click="toggle('insumos', insumo.id)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button> {{insumo.descricao}}
            <div id="modificar_{{insumo.id}}" class="modificar insumos">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>insumo</legend>

                        <div ng-include="'hipermídia/insumos_fields.template.html'"></div>

                        <div class="insumos_materiais col-md-8 col-md-offset-2">
                            <h4>Materiais</h4>
                            <div class="col-md-10 col-md-offset-1">
                                <div>{{insumo.materiais.nome}} - {{insumo.materiais.marca}}</div>
                                <div>Preço {{insumo.materiais.preco}}</div>
                                <div>Quantidade {{insumo.materiais.quantidade}}</div>
                                <button class="btn btn-default" ng-click="loadMaterial(insumo.materiais.id)">Editar</button>
                            </div>
                        </div>

                        <!-- controles -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="submit"></label>
                            <div class="col-md-8">
                                <button id="submit" name="submit" class="btn btn-warning" ng-click="revert('insumos', insumo.id, $index)">Reverter</button>
                                <button id="delete" name="delete" class="btn btn-danger" ng-click="delete('insumos', $index)">Apagar</button>
                            </div>
                        </div>


                    </fieldset>
                </form>

            </div>
        </li>
    </ul>
    <div id="add_group" class="insumos">
        <button class="btn btn-primary" ng-click="toggle_add('insumos', $event)">Adicionar</button>
        <ng-form name="insumo_add" class="add form-horizontal">
            <fieldset>
                <legend>material</legend>

                <div ng-include="'hipermídia/insumos_fields.template.html'"></div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="id_material">Material</label>
                    <div class="col-md-8">
                        <select id="id_material" name="id_material" class="field form-control">
                            <option ng-repeat="material in materiais" value="{{material.id}}">{{material.nome}} - {{material.marca}}</option>
                        </select>
                    </div>
                </div>

                <!-- controles -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="submit"></label>
                    <div class="col-md-8">
                        <button id="submit" name="submit" class="btn btn-success"  ng-disabled="insumo_add.$invalid || insumo_add.$pending" ng-click="add('insumos')">Adicionar</button>
                        <button id="cancel" name="cancel" class="btn btn-default" ng-click="toggle_add('insumos', $event)">Apagar</button>
                    </div>
                </div>


            </fieldset>
        </ng-form>
    </div>
</div>
