<div class="form-group">
    <label class="col-md-4 control-label" for="descricao">Descrição</label>
    <div class="col-md-8">
        <input id="descricao" class="field form-control input-md" name="descricao" placeholder="descricao" ng-model="insumo.descricao" data-initial="{{::insumo.descricao}}" value="{{insumo.descricao}}" required="" type="text">
    </div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label" for="preco">Preço</label>
    <div class="col-md-8">
        <input id="preco" class="field form-control input-md" name="preco" placeholder="preço" ng-model="insumo.preco" data-initial="{{::insumo.preco}}" value="{{insumo.preco}}" type="number" string-to-number price >
    </div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label" for="quantidade">Quantidade</label>
    <div class="col-md-8">
        <input id="quantidade" class="field form-control input-md" name="quantidade" placeholder="quantidade" ng-model="insumo.quantidade" data-initial="{{::insumo.quantidade}}" value="{{insumo.quantidade}}" required="" type="number" string-to-number >
    </div>
</div>