<div id="materiais" class="admin_tab col-md-6 col-md-offset-3" ng-if="materiais.length > 0">
    <ul class="list_materiais">
        <li id="material_{{material.id}}" class="materiais" ng-repeat="material in materiais">
            <button id="toggle_material_{{material.id}}" class="btn btn-default toggle" ng-click="toggle('materiais', material.id)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button> {{material.nome}} - {{material.cpf}}
            <div id="modificar_{{material.id}}" class="modificar materiais">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>material</legend>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="nome">Nome</label>
                            <div class="col-md-8">
                                <input id="nome" name="nome" placeholder="nome" ng-model="material.nome" data-initial="{{::material.nome}}" value="{{material.nome}}" class="form-control input-md" required="" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="marca">Marca</label>
                            <div class="col-md-8">
                                <input id="marca" name="marca" placeholder="marca" class="form-control input-md" ng-model="material.marca" data-initial="{{::material.marca}}" value="{{material.marca}}" required="" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="preço">Preço</label>
                            <div class="col-md-8">
                                <input id="preço" name="preco" placeholder="preço" ng-model="material.preco" data-initial="{{::material.preco}}" value="{{material.preco}}" class="form-control input-md" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="quantidade">Quantidade</label>
                            <div class="col-md-8">
                                <input id="quantidade" name="quantidade" placeholder="quantidade" ng-model="material.quantidade" data-initial="{{::material.quantidade}}" value="{{material.quantidade}}" class="form-control input-md" required="" type="text">
                            </div>
                        </div>

                        <!-- controles -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="submit"></label>
                            <div class="col-md-8">
                                <button id="submit" name="submit" class="btn btn-warning" ng-click="revert('materiais', material.id, $index)">Reverter</button>
                                <button id="delete" name="delete" class="btn btn-danger" ng-click="delete('materiais', $index)">Apagar</button>
                            </div>
                        </div>


                    </fieldset>
                </form>

            </div>
        </li>
    </ul>
</div>
