<div id="materiais" class="admin_tab col-md-6 col-md-offset-3" ng-if="materiais.length > 0">
    <h2>Materiais</h2>
    <ul class="list_materiais">
        <li id="material_{{material.id}}" class="materiais" ng-repeat="material in materiais">
            <button id="toggle_material_{{material.id}}" class="btn btn-default toggle" ng-click="toggle('materiais', material.id)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button> {{material.nome}} - {{material.marca}}
            <div id="modificar_{{material.id}}" class="modificar materiais">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>material</legend>

                        <div ng-include="'hipermídia/materiais_fields.template.html'"></div>

                        <!-- controles -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="submit"></label>
                            <div class="col-md-8">
                                <button id="submit" name="submit" class="btn btn-warning" ng-click="revert('materiais', material.id, $index)">Reverter</button>
                                <button id="delete" name="delete" class="btn btn-danger" ng-click="delete('materiais', $index)">Apagar</button>
                            </div>
                        </div>


                    </fieldset>
                </form>

            </div>
        </li>
    </ul>
    <div id="add_group" class="materiais">
        <button class="btn btn-primary" ng-click="toggle_add('materiais', $event)">Adicionar</button>
        <form id="material_add" class="add form-horizontal">
            <fieldset>
                <legend>material</legend>

                <div ng-include="'hipermídia/materiais_fields.template.html'"></div>

                <!-- controles -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="submit"></label>
                    <div class="col-md-8">
                        <button id="submit" name="submit" class="btn btn-success" ng-click="add('materiais')">Adicionar</button>
                        <button id="cancel" name="cancel" class="btn btn-default" ng-click="toggle_add('materiais', $event)">Apagar</button>
                    </div>
                </div>


            </fieldset>
        </form>
    </div>
</div>
