<div class="form-group">
    <label class="col-md-4 control-label" for="nome">Nome</label>
    <div class="col-md-8">
        <input id="nome" name="nome" class="field form-control input-md" placeholder="nome" ng-model="material.nome" data-initial="{{::material.nome}}" value="{{material.nome}}" class="form-control input-md" required="" type="text">
    </div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label" for="marca">Marca</label>
    <div class="col-md-8">
        <input id="marca" name="marca" class="field form-control input-md" placeholder="marca" ng-model="material.marca" data-initial="{{::material.marca}}" value="{{material.marca}}" required="" type="text">
    </div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label" for="preco">Preço</label>
    <div class="col-md-8">
        <input id="preco" name="preco" class="field form-control input-md" placeholder="preço" ng-model="material.preco" data-initial="{{::material.preco}}" value="{{material.preco}}" required="" type="number" string-to-number price >
    </div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label" for="quantidade">Quantidade</label>
    <div class="col-md-8">
        <input id="quantidade" name="quantidade" class="field form-control input-md" placeholder="quantidade" ng-model="material.quantidade" data-initial="{{::material.quantidade}}" value="{{material.quantidade}}" required="" type="number" string-to-number >
    </div>
</div>