<div class="form-group">
    <label class="col-md-4 control-label" for="nome">Nome</label>
    <div class="col-md-8">
        <input id="nome" class="field form-control input-md" name="nome" placeholder="nome" ng-model="solicitante.nome" data-initial="{{::solicitante.nome}}" value="{{solicitante.nome}}" required="" type="text">
    </div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label" for="cpf">CPF</label>
    <div class="col-md-8">
        <input id="cpf" class="field form-control input-md" name="cpf" ng-model="solicitante.cpf" ng-cpf ui-mask="999.999.999-99" data-initial="{{::solicitante.cpf}}" value="{{solicitante.cpf}}" required="" type="text">
    </div>
</div>


<div class="form-group">
    <label class="col-md-4 control-label" for="telefone">Telefone</label>
    <div class="col-md-8">
        <input id="telefone" class="field form-control input-md" name="telefone" ng-model="solicitante.telefone" ui-mask="(99)99999?9999" data-initial="{{::solicitante.telefone}}" value="{{solicitante.telefone}}" required="" type="text">
    </div>
</div>


<div class="form-group">
    <label class="col-md-4 control-label" for="cep">CEP</label>
    <div class="col-md-8">
        <input id="cep" class="field form-control input-md" name="cep" ng-model="solicitante.cep" ui-mask="99999-999" data-initial="{{::solicitante.cep}}" value="{{solicitante.cep}}" required="" type="text">
    </div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label" for="rua">Rua</label>
    <div class="col-md-8">
        <input id="rua" class="field form-control input-md" name="rua" placeholder="rua" ng-model="solicitante.rua" data-initial="{{::solicitante.rua}}" value="{{solicitante.rua}}" required="" type="text">
    </div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label" for="numero">Número</label>
    <div class="col-md-8">
        <input id="numero" class="field form-control input-md" name="numero" placeholder="número" ng-model="solicitante.numero" data-initial="{{::solicitante.numero}}" value="{{solicitante.numero}}" required="" type="text">
    </div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label" for="bairro">Bairro</label>
    <div class="col-md-8">
        <input id="bairro" class="field form-control input-md" name="bairro" placeholder="bairro" ng-model="solicitante.bairro" data-initial="{{::solicitante.bairro}}" value="{{solicitante.bairro}}" required="" type="text">
    </div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label" for="cidade">Cidade</label>
    <div class="col-md-8">
        <input id="cidade" class="field form-control input-md" name="cidade" placeholder="cidade" ng-model="solicitante.cidade" data-initial="{{::solicitante.cidade}}" value="{{solicitante.cidade}}" required="" type="text">
    </div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label" for="estado">Estado</label>
    <div class="col-md-8">
        <input id="estado" class="field form-control input-md" name="estado" ng-model="solicitante.estado" ui-mask="AA" data-initial="{{::solicitante.estado}}" value="{{solicitante.estado}}" required="" type="text">
    </div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label" for="pais">País</label>
    <div class="col-md-8">
        <input id="pais" class="field form-control input-md" name="pais" placeholder="país" ng-model="solicitante.pais" data-initial="{{::solicitante.pais}}" value="{{solicitante.pais|| Brasil}}" required="" type="text">
    </div>
</div>
