<div id="solicitantes" class="admin_tab col-md-6 col-md-offset-3" ng-if="solicitantes.length > 0">
    <h2>Solicitantes</h2>
    <ul class="list_solicitantes">
        <li id="solicitante_{{solicitante.id}}" class="solicitantes" ng-repeat="solicitante in solicitantes">
            <button id="toggle_solicitante_{{solicitante.id}}" class="btn btn-default toggle" ng-click="toggle('solicitantes', solicitante.id)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button> {{solicitante.nome}} - {{solicitante.cpf}}
            <div id="modificar_{{solicitante.id}}" class="modificar solicitantes">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Solicitante</legend>
                        <div ng-include="'hipermídia/solicitantes_fields.template.html'"></div>

                        <!-- controles -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="submit"></label>
                            <div class="col-md-8">
                                <button id="submit" name="submit" class="btn btn-warning" ng-click="revert('solicitantes', solicitante.id, $index)">Reverter</button>
                                <button id="delete" name="delete" class="btn btn-danger" ng-click="delete('solicitantes', $index)">Apagar</button>
                            </div>
                        </div>


                    </fieldset>
                </form>

            </div>
        </li>
    </ul>
    <div id="add_group" class="solicitantes">
        <button class="btn btn-primary" ng-click="toggle_add('solicitantes', $event)">Adicionar</button>
        <ng-form name="solicitante_add" class="add form-horizontal">
            <fieldset>
                <legend>solicitante</legend>

                <div ng-include="'hipermídia/solicitantes_fields.template.html'"></div>

                <!-- controles -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="submit"></label>
                    <div class="col-md-8">
                        <button id="submit" name="submit" class="btn btn-success"  ng-disabled="solicitante_add.$invalid || solicitante_add.$pending" ng-click="add('solicitantes')">Adicionar</button>
                        <button id="cancel" name="cancel" class="btn btn-default" ng-click="toggle_add('solicitantes', $event)">Apagar</button>
                    </div>
                </div>


            </fieldset>
        </ng-form>
    </div>
</div>
