.footer {
  width: 100%;
  color: $default-font-color;
  background-color: $background-grey;
  position: fixed;
  bottom: 0;

  .copy {
    font-size: 1.25em;
    padding: 1em 0;
    margin: 0;
    display: inline-block;
  }

  .question-mark {
    width: 30px;
    height: 30px;
    padding: 1em 0;
    display: inline-block;
    float: right;
  }
}