.navbar-nav {
  & > li {
    & > a {
      text-transform: uppercase;
      font-weight: bold;

      @media only screen and (min-width: $screen-sm) {
        padding: 30px 15px;
        box-sizing: border-box;
        max-height: $navbar-height;
      }
    }
  }
}

.nav > li {
  position: static;
}

.dropdown-menu {
  @media only screen and (min-width: $screen-sm) {
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    right: 0;
    margin: 0;

    li {
      float: left;
      padding: 15px 10px;
    }
  }
}

.start-process-button {
  position: fixed;
  width: 225px;
  top: 0;
  left: 0;
  right: 0;
  height: $navbar-height;
  background-color: #39bb9d;
  color: #FFF;
  font-weight: bold;
  border: 0;
  text-transform: uppercase;
  padding: 0 20px;
  margin: auto;

  span {
    display: inline-block;
    vertical-align: middle;
  }
}