.footer {

    $background-color-footer: #555;
    $text-color-footer: #fff;
    $color-border-top-footer: #ddd;
    $copy-color: #ddd;

    background-color: $background-color-footer;
    color: $text-color-footer;
    float:left;
    width:100%;
    padding:5px;
    border-top:1px solid $color-border-top-footer;

    .left {
        float:left;
        padding-left:10px;

        span.copy {
            color: $copy-color;
        }
    }

    .right {
        float:right;
    }

}