.form-pedido {

    margin-top:30px;

    .about-pedido {
        width:100%;
        margin-bottom:15px;

        h5 {
            margin: 15px 0 5px 10px;
            font-weight:bold;
        }

        .sub-list {
            margin-top:0;
        }

    }

}