.paginator {

    .loading {
        .hide {
            display:none;
        }
    }

    .content {
        display:none;

        .show {
            display:block;
        }
    }

    .show-page {
        display:block;
    }

    .hide-page {
        display:none;
    }

}