* {
    margin:0;
    padding:0;
}

$color-background: #f9f9f9;
$color-accent: #39bb9d;

@font-face
{
	font-family: 'HelveticaNeueBold';
	src: url('../assets/fonts/HelveticaNeue-Bold.eot');
	src: local('Helvetica Neue Bold'), local('HelveticaNeue'), url('../assets/fonts/HelveticaNeue-Bold.woff') format('woff'), url('../assets/fonts/HelveticaNeue-Bold.ttf') format('truetype');
}

$font-helvetica: 'HelveticaNeueBold';
$font-trebuchet: 'Trebuchet MS Regular';

@import '_navbar.scss';
@import '_paginator.scss';
@import '_validator.scss';
@import '_sublist.scss';
@import '_form-wizard.scss';
@import '_form-pedido.scss';
@import '_form-solicitante.scss';
@import '_footer.scss';

html {
    height:100%;

    body { 
        height:100%;
        padding-top: 115px;
        background-color:$color-background;

        .wrapper {
            min-height: 100%;
            margin-bottom: -51px;

            .push {
                height:31px;
            }
        }
    }
}