<header class="menu-navbar">
  <div class="container-fluid">
    <ul class="dash">
      <li><a href="#">Dashboard 1</a></li>
      <li><a href="#">Dashboard 2</a></li>
      <li><a href="#">Dashboard 3</a></li>
    </ul>
  </div>
</header>

<div id="content" class="container animated bounceInUp">

	<h1>Adminstração</h1>

	<p>Solicitantes</p>

	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>ID</th>
	      <th>Nome</th>
	      <th>Telefone</th>
	      <th>Cidade</th>
	    </tr>
	  </thead>
	  <tbody id="solicitantes">
	  </tbody>
	</table>

</div>